.error {
    color: red;
}

.orangeButton {
    color: darkblue;
    background-color: lightsalmon;
    border-style: none;
    border-radius: 5px;
    line-height: 1;
    height: 35px;
    padding: 0 20px;
    font-size: 1.2rem;
}

.blueButton {
    color: darkblue;
    background-color: skyblue;
    border-style: none;
    border-radius: 5px;
    line-height: 1;
    width: 100px;
    height: 35px;
    font-size: 1.2rem;
}

.navButton {
    color: darkblue;
    background-color: darkseagreen;
    border-style: none;
    border-radius: 5px;
    line-height: 1.5;
    padding: 0 40px;
    font-size: 1.2rem;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border: 1px solid rgb(160 160 160);
    font-family: sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.t2 {
    border: none;
}

.t1 {
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}


th, td {
    border: none;
    padding: 1rem;
    width:200px;
    line-height:18px;
    vertical-align:center;
    text-align:center;
}

th.t, td.t {
    border-top: 1px solid rgb(160 160 160);
    border-right: 0 solid rgb(160 160 160);
    border-bottom: 1px solid rgb(160 160 160);
    border-left: 0 solid rgb(160 160 160);
    padding: 1rem;
    width:1130px;
    line-height:30px;
    vertical-align:center;
}

th.da, td.da {
    border-top: 1px solid rgb(160 160 160);
    border-right: 0 solid rgb(160 160 160);
    border-bottom: 1px solid rgb(160 160 160);
    border-left: 0 solid rgb(160 160 160);
    padding: 1rem;
    width:200px;
    line-height:30px;
    vertical-align:center;
}

.text-align-left{
    text-align:left;
}

.input300 {
    text-align:left;
    width:300px;
    font-size: 1.5rem;
}

.inputWithoutBorder {
    border-style: none;
}

.box4 {
    display: grid;
    grid-template-columns: 370px 370px 270px 170px ;
    gap: 1px 2em;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.box4b {
    display: grid;
    grid-template-columns: 370px 370px 270px 170px ;
    gap: 1px 2em;
    padding-top: 0;
    padding-bottom: 1rem;
}

